{{ template "layout/base.html" . }}

{{define "head"}}
<title>{{t .Localizer "client.title"}}</title>
{{end}}

{{define "body"}}
<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">{{t .Localizer "client.heading"}}</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <div class="card-body">
    <p>{{t .Localizer "client.docs_prefix"}} <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">WIKI</a> {{t .Localizer "common.or"}} <a href="https://community.openvpn.net/openvpn/wiki/HOWTO" target="_blank">HOWTO</a>。</p>
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    <div class="card-body">
      <!-- Disabled Profile - yet another feature to implement.
      <div class="form-group">
         <label for="name">Profile</label>
         <input type="text" class="form-control" name="Profile" id="Profile" value="{{ .Settings.Profile }}" style="visibility: hidden;" disabled>
     </div> -->

      <div class="form-group">
        <label for="ServerAddress">{{t .Localizer "client.connection_address"}}</label>
        <input type="text" class="form-control" id="ServerAddress" name="ServerAddress" placeholder="vpn.example.com"
          value="{{ .Settings.ServerAddress }}">
          <span class="text-muted">{{t .Localizer "client.connection_address_help"}}</span>
      </div>

      <div class="form-group">
        <label for="OpenVpnServerPort">{{t .Localizer "client.connection_port"}}</label>
        <input type="text" class="form-control" id="OpenVpnServerPort" name="OpenVpnServerPort" placeholder="1195"
          value="{{ .Settings.OpenVpnServerPort }}">
          <span class="text-muted">{{t .Localizer "client.connection_port_help"}}</span>
      </div>

      <div class="form-group">
        <label for="Proto">Proto</label> <span class="text-muted">{{t .Localizer "client.server_side_help"}}</span>
        <input type="text" class="form-control" id="Proto" name="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
      </div>

      <div class="form-group" id="auth-mode">
        <label>{{t .Localizer "client.auth_mode"}}</label>
        <select name="FuncMode" id="FuncMode" class="form-control">
          <option value="0" {{if eq .Settings.FuncMode 0}}selected{{end}}>{{t .Localizer "client.auth_classic"}}</option>
          <option value="1" {{if eq .Settings.FuncMode 1}}selected{{end}}>{{t .Localizer "client.auth_2fa"}}</option>
        </select>
      </div>

      <div class="form-group" id="tfa-issuer">
        <label for="tfaissuer">2FA Issuer</label>
        <input type="text" class="form-control" id="tfaissuer" name="TFAIssuer" placeholder="ZHISUAN"
          value="{{if eq .Settings.FuncMode 0}}{{else}}{{ .Settings.TFAIssuer }}{{ end }}">
          <span class="text-muted">{{t .Localizer "client.issuer_help"}}</span>
      </div>

      <div class="form-group" id="a-user-pass">
        <label for="authuserpass">AuthUserPass</label>
        <input type="text" class="form-control" id="authuserpass" name="AuthUserPass" placeholder="AuthUserPass"
          value="{{if eq .Settings.FuncMode 0}} {{else}}auth-user-pass{{ end }}">
          <span class="text-muted">{{t .Localizer "client.auth_user_pass_help"}}</span>
      </div>

      <div class="form-group">
        <label for="RedirectGateway">Redirect Gateway</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#redirect-gateway def1"}}</span>
        <input type="text" class="form-control" id="RedirectGateway" name="RedirectGateway" placeholder="redirect-gateway def1"
          value="{{ .Settings.RedirectGateway }}">
          <span class="text-muted">{{t .Localizer "client.redirect_help"}}</span>
      </div>

      <div class="form-group">
        <label for="ResolveRetry">Resolv-retry</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#resolv-retry infinite"}}</span>
        <input type="text" class="form-control" id="ResolveRetry" name="ResolveRetry" placeholder="resolv-retry infinite"
          value="{{ .Settings.ResolveRetry }}">
      </div>

      <div class="form-group">
        <label for="OVClientUser">User</label> <span class="text-muted">{{t .Localizer "client.non_windows_only"}}</span>
        <input type="text" class="form-control" id="OVClientUser" name="OVClientUser" placeholder="nobody"
          value="{{ .Settings.OVClientUser }}">
      </div>

      <div class="form-group">
        <label for="OVClientGroup">Group</label> <span class="text-muted">{{t .Localizer "client.non_windows_only"}}</span>
        <input type="text" class="form-control" id="OVClientGroup" name="OVClientGroup" placeholder="nogroup"
          value="{{ .Settings.OVClientGroup }}">
      </div>

      <div class="form-group">
        <label for="PersistTun">Persist-tun</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#persist-tun"}}</span>
        <input type="text" class="form-control" id="PersistTun" name="PersistTun" placeholder="persist-tun"
          value="{{ .Settings.PersistTun }}">
      </div>

      <div class="form-group">
        <label for="PersistKey">Persist-key</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#persist-key"}}</span>
        <input type="text" class="form-control" id="PersistKey" name="PersistKey" placeholder="persist-key"
          value="{{ .Settings.PersistKey }}">
      </div>

      <div class="form-group">
        <label for="RemoteCertTLS">Remote-cert-tls</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#remote-cert-tls server"}}</span>
        <input type="text" class="form-control" id="RemoteCertTLS" name="RemoteCertTLS" placeholder="remote-cert-tls server"
          value="{{ .Settings.RemoteCertTLS }}">
      </div>

      <div class="form-group">
        <label for="Cipher">Cipher</label> <span class="text-muted">{{t .Localizer "client.server_side_help"}}</span>
        <input type="text" class="form-control" id="Cipher" name="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
      </div>

      <div class="form-group">
        <label for="Auth">Auth</label> <span class="text-muted">{{t .Localizer "client.server_side_help"}}</span>
        <input type="text" class="form-control" id="Auth" name="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
      </div>

      <div class="form-group">
        <label for="AuthNoCache">Auth-nocache</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#auth-nocache"}}</span>
        <input type="text" class="form-control" id="AuthNoCache" name="AuthNoCache" placeholder="auth-nocache"
          value="{{ .Settings.AuthNoCache }}">
      </div>

      <div class="form-group">
        <label for="TlsClient">Tls-client</label> <span class="text-muted" style="font-size: 80%;">{{t .Localizer "client.comment_out_help" "#tls-client"}}</span>
        <input type="text" class="form-control" id="TlsClient" name="TlsClient" placeholder="tls-client"
          value="{{ .Settings.TlsClient }}">
      </div>

      <div class="form-group">
        <label for="Verbose">{{t .Localizer "client.verbose"}}</label>
        <input type="text" class="form-control" id="Verbose" name="Verbose" placeholder="3"
          value="{{ .Settings.Verbose }}">
          <span class="text-muted">{{t .Localizer "client.verbose_help"}}</span>
      </div>

      <div class="form-group">
        <label for="CustomConfOne">{{t .Localizer "client.custom_option_one"}}</label>
        <input type="text" class="form-control" id="CustomConfOne" name="CustomConfOne" placeholder="#Custom Option One"
          value="{{ .Settings.CustomConfOne }}">
          <span class="text-muted">{{t .Localizer "client.custom_option_help"}}</span>
      </div>

      <div class="form-group">
        <label for="CustomConfTwo">{{t .Localizer "client.custom_option_two"}}</label>
        <input type="text" class="form-control" id="CustomConfTwo" name="CustomConfTwo" placeholder="#Custom Option Two"
          value="{{ .Settings.CustomConfTwo }}">
          <span class="text-muted">{{t .Localizer "client.custom_option_help"}}</span>
      </div>

      <div class="form-group">
        <label for="CustomConfThree">{{t .Localizer "client.custom_option_three"}}</label>
        <textarea class="form-control" name="CustomConfThree" id="CustomConfThree" placeholder="#Custom Option Three"
         rows="2">{{ .Settings.CustomConfThree }}</textarea>
          <span class="text-muted">{{t .Localizer "client.custom_option_help"}}</span>
      </div>

     <!--  comented out to avoid client/server confusion
      <div class="form-group">
        <label for="name">Device type</label>
        <input type="text" class="form-control" id="Device" name="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
      </div>

      <div class="form-group">
        <label for="name">Protocol</label>
        <input type="text" class="form-control" id="Proto" name="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
      </div>

     -->
      {{ .xsrfdata }}

      <button type="submit" style="width: 125px;" class="btn btn-primary" onclick="return confirm('{{t .Localizer "common.confirm_overwrite"}}');">{{t .Localizer "common.save_config"}}</button> &nbsp; &nbsp;
      <button type="button" style="width: 125px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal">{{t .Localizer "common.view_config"}}</button>
    </div>
        <!-- /.card-body -->
  </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/config/client.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t .Localizer "common.close"}}">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVClientConfigController.Edit"}}" method="post">
              <div class="card-body">

                <div class="form-group">
                    <!--div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">Please note</b>
                        </a>
                      </span>
                    </div-->
                    <!--div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span class="text-muted">Manual configuration will not push new changes into OpenVPN UI templates DB.</span><br>
                        <span class="text-muted">Best practice is update Client template with Client configuration template.</span><br>
                      </div>
                    </div-->
                    <br><textarea type="text" class="form-control my-textarea" name="ClientTemplate" id="ClientTemplate" spellcheck="false" rows="15">{{ .ClientTemplate }}</textarea>
                </div>

                {{ .xsrfdata }}

                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal">{{t .Localizer "common.close"}}</button> &nbsp; &nbsp;
                <!--button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm('Are you sure you want to Save updated configuration file?\nTemplate will not be updated!'); window.location.reload();">Save</button-->
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="{{t .Localizer "maintenance.conditional_restart"}} (SIGUSR1)">{{t .Localizer "maintenance.restart_server"}}</a>
      <span style="color:grey;"> &nbsp; {{t .Localizer "maintenance.restart_help"}}</span>
    </div>
      <!-- /.card-body -->
  </form>
</div>
</div>
<!-- /.card -->
{{end}}

<script>
  const funcModeSelect = document.getElementById('FuncMode');
  const authUserPass = document.getElementById('a-user-pass');
  const tFAIssuer = document.getElementById('tfa-issuer');
  const authUserPassInput = document.getElementById('authuserpass');
  const tFAIssuerInput = document.getElementById('tfaissuer');

  function checkFuncMode() {
    if (funcModeSelect.value === '0') {
      authUserPass.style.display = 'none';
      tFAIssuer.style.display = 'none';
      authUserPassInput.value = ' ';
     // tFAIssuerInput = ' ';
    } else {
      authUserPass.style.display = 'block';
      tFAIssuer.style.display = 'block';
      authUserPassInput.value = 'auth-user-pass';
    }
  }
  funcModeSelect.addEventListener('change', checkFuncMode);

window.addEventListener('load', () => {
    // Check if "themeEditor" is set in localStorage
  checkFuncMode();
  if (localStorage.getItem("theme") === "dark") {
    createEditor("ClientTemplate", "550px", "clouds_midnight", "ovpn", true);
  } else {
    createEditor("ClientTemplate", "550px", "clouds", "ovpn", true);
  }
});
</script>
