{{ template "layout/base.html" . }}

{{define "head"}}
<title>{{t .Localizer "server.title"}}</title>
{{end}}

{{define "body"}}

<!-- /.card-body -->
<div class="card card-default">

  <div class="card-body">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <button type="button" style="width: 135px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal">{{t .Localizer "server.edit_config"}}</button> &nbsp; &nbsp;
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="{{t .Localizer "maintenance.conditional_restart"}} (SIGUSR1)">{{t .Localizer "maintenance.restart_server"}}</a>
      <span style="color:grey;"> &nbsp; {{t .Localizer "maintenance.restart_help"}}</span>
    </div>
      <!-- /.card-body -->
  </form>
  </div>
</div>

<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">{{t .Localizer "server.configuration_template"}}
    </h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
    <p>{{t .Localizer "server.options_order"}}</p>
  <form id="expert-form" role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="card-body">

      <!-- Commented for now as not used
      <div class="form-group">
       <label for="name">Management</label>
       <input type="text" class="form-control" name="Management" id="Management" placeholder="0.0.0.0 2080"
         value="{{ .Settings.Management }}">
       <span id="helpBlock" class="text-muted"></span>
      </div>
      -->

      <div class="form-group">
         <label for="name">Dev</label>
         <input type="text" selector="vformdata" class="form-control" name="Device" id="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
         <span class="text-muted">{{t .Localizer "server.device_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">{{t .Localizer "common.info"}}</a>
         </span>
      </div>

      <div class="form-group">
        <label for="name">Port</label>
        <input type="text" selector="vformdata" class="form-control" name="Port" id="Port" placeholder="1194"
          value="{{ .Settings.Port }}">
        <span class="text-muted">{{t .Localizer "server.port_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">{{t .Localizer "common.info"}}</a>
       </span>
      </div>

      <div class="form-group">
        <label for="name">Proto</label>
        <input type="text" selector="vformdata" class="form-control" name="Proto" id="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
        <span class="text-muted">{{t .Localizer "server.protocol_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">{{t .Localizer "common.info"}}</a>
       </span>
      </div>

      <div class="form-group">
        <label for="name">Topology</label> <!-- <strong><span style="color:#337ab7" title="New format in this version">!</span></strong> -->
        <input type="text" selector="vformdata" class="form-control" name="OVConfigTopology" id="OVConfigTopology" placeholder="subnet"
         value="{{ .Settings.OVConfigTopology }}">
        <span class="text-muted">{{t .Localizer "server.topology_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/Topology" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Keepalive</label>
        <input type="text" selector="vformdata" class="form-control" name="Keepalive" id="Keepalive" placeholder="10 120"
         value="{{ .Settings.Keepalive }}">
        <span class="text-muted">{{t .Localizer "server.keepalive_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">MaxClients</label>
        <input type="text" class="form-control" name="MaxClients" id="MaxClients" placeholder="100"
         value="{{ .Settings.MaxClients }}">
        <span class="text-muted">{{t .Localizer "server.max_clients_help"}}</span>
      </div>

      <div class="form-group">
        <label for="name">User</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigUser" id="OVConfigUser" placeholder="nobody"
         value="{{ .Settings.OVConfigUser }}">
        <span class="text-muted">{{t .Localizer "server.user_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">{{t .Localizer "common.info"}}</a></span>
     </div>

     <div class="form-group">
        <label for="name">Group</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigGroup" id="OVConfigGroup" placeholder="nogroup"
         value="{{ .Settings.OVConfigGroup }}">
        <span class="text-muted">{{t .Localizer "server.group_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">{{t .Localizer "common.info"}}</a></span>
     </div>

     <div class="form-group">
      <label for="name">Client-Config-Dir</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
      <input type="text" class="form-control" name="OVConfigClientConfigDir" id="OVConfigClientConfigDir" placeholder="/etc/openvpn/staticclients"
       value="{{ .Settings.OVConfigClientConfigDir }}">
      <span class="text-muted">{{t .Localizer "server.client_config_dir_help"}}
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">{{t .Localizer "common.info"}}</a>
      </span>
    </div>

    <div class="form-group">
       <label for="name">Ifconfig-Pool-Persist</label>
       <input type="text" class="form-control" name="IfconfigPoolPersist" id="IfconfigPoolPersist" placeholder="pki/ipp.txt"
        value="{{ .Settings.IfconfigPoolPersist }}">
       <span class="text-muted">{{t .Localizer "server.ipp_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
       </span>
    </div>

      <div class="form-group">
         <label for="name">CA</label>
         <input type="text" class="form-control" name="Ca" id="Ca" placeholder="pki/ca.crt"
          value="{{ .Settings.Ca }}">
         <span class="text-muted">{{t .Localizer "server.ca_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#SettingupyourownCertificateAuthorityCAandgeneratingcertificatesandkeysforanOpenVPNserverandmultipleclients" target="_blank">{{t .Localizer "common.info"}}</a>
         </span>
      </div>

      <div class="form-group">
        <label for="name">Cert</label>
        <input type="text" class="form-control" name="Cert" id="Cert" placeholder="pki/issued/server.crt"
          value="{{ .Settings.Cert }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted">{{t .Localizer "server.cert_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Key</label>
        <input type="text" class="form-control" name="Key" id="Key" placeholder="pki/private/server.key"
          value="{{ .Settings.Key }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted">{{t .Localizer "server.key_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
       <label for="name">Crl-verify</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
       <input type="text" class="form-control" name="Crl" id="Crl" placeholder="pki/crl.pem"
        value="{{ .Settings.Crl }}">
       <span class="text-muted">{{t .Localizer "server.crl_help"}}
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">{{t .Localizer "common.info"}}</a>
       </span>
      </div>

      <div class="form-group">
        <label for="name">Dh</label>
        <input type="text" class="form-control" name="Dh" id="Dh" placeholder="pki/dh.pem"
          value="{{ .Settings.Dh }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted">{{t .Localizer "server.dh_help"}}
        <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#GenerateDiffieHellmanparameters" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">TLS-Crypt</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSControlChannel" id="TLSControlChannel" placeholder="tls-crypt pki/ta.key"
         value="{{ .Settings.TLSControlChannel }}">
        <span class="text-muted">{{t .Localizer "server.tls_crypt_help"}}
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">TLS-Version-Min</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSMinVersion" id="TLSMinVersion" placeholder="tls-version-min 1.2"
         value="{{ .Settings.TLSMinVersion }}">
        <span class="text-muted">{{t .Localizer "server.tls_version_help"}}
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Remote-Cert-TLS</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="TLSRemoteCert" id="TLSRemoteCert" placeholder="remote-cert-tls client"
         value="{{ .Settings.TLSRemoteCert }}">
        <span class="text-muted">{{t .Localizer "server.remote_cert_help"}}
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
         <label for="name">Cipher</label>
         <input type="text" class="form-control" name="Cipher" id="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
         <span class="text-muted">{{t .Localizer "server.cipher_help"}}
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
         </span>
      </div>

      <div class="form-group">
        <label for="name">Ncp-Ciphers</label> <!-- strong><span style="color:#337ab7" title="New format in this version">!</span></strong -->
        <input type="text" class="form-control" name="OVConfigNcpCiphers" id="OVConfigNcpCiphers" placeholder="AES-256-GCM:AES-192-GCM:AES-128-GCM"
         value="{{ .Settings.OVConfigNcpCiphers }}">
        <span class="text-muted">{{t .Localizer "server.ciphers_help"}}
         <a href="https://github.com/OpenVPN/openvpn/blob/master/doc/man-sections/cipher-negotiation.rst" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
         <label for="name">Auth</label>
         <input type="text" class="form-control" name="Auth" id="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
         <span id="helpBlock" class="text-muted"></span>
      </div>

      <div class="form-group">
        <label for="Server">{{t .Localizer "server.standard_pool"}}</label>
        <input type="text" selector="vformdata" class="form-control" name="Server" id="Server" placeholder="server 10.9.0.0 255.255.252.0"
         value="{{ .Settings.Server }}">
        <span class="text-muted">{{t .Localizer "server.standard_pool_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">{{t .Localizer "common.info"}}</a>
         </span>
     </div>

      <div class="form-group">
        <label for="Route">{{t .Localizer "server.restricted_pool"}}</label>
        <input type="text" selector="vformdata" class="form-control" name="Route" id="Route" placeholder="route 10.9.5.0 255.255.255.0"
          value="{{ .Settings.Route }}">
        <span class="text-muted">{{t .Localizer "server.restricted_pool_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">{{t .Localizer "common.info"}}</a>
          </span>
      </div>

      <div class="form-group">
        <label for="PushRoute">{{t .Localizer "server.push_route"}}</label>
        <input type="text" selector="vformdata" class="form-control" name="PushRoute" id="PushRoute" placeholder="push &quot;route 192.168.5.0 255.255.255.0&quot;"
          value="{{ .Settings.PushRoute }}">
        <span class="text-muted">{{t .Localizer "server.push_route_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#ExpandingthescopeoftheVPNtoincludeadditionalmachinesoneithertheclientorserversubnet" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="DNSServer1">{{t .Localizer "server.push_dns_one"}}</label>
        <input type="text" selector="vformdata" class="form-control" name="DNSServer1" id="DNSServer1" placeholder="push &quot;dhcp-option DNS 8.8.8.8&quot;"
          value="{{ .Settings.DNSServer1 }}">
        <span class="text-muted">{{t .Localizer "server.push_dns_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="DNSServer2">{{t .Localizer "server.push_dns_two"}}</label>
        <input type="text" selector="vformdata" class="form-control" name="DNSServer2" id="DNSServer2" placeholder="push &quot;dhcp-option DNS 1.0.0.1&quot;"
          value="{{ .Settings.DNSServer2 }}">
        <span class="text-muted">{{t .Localizer "server.push_dns_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
        <label for="RedirectGW">Push Redirect-gateway</label>
        <input type="text" class="form-control" name="RedirectGW" id="RedirectGW" placeholder="push &quot;redirect-gateway def1 bypass-dhcp&quot;"
          value="{{ .Settings.RedirectGW }}">
        <span class="text-muted">{{t .Localizer "server.redirect_gateway_help"}}
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Routingallclienttrafficincludingweb-trafficthroughtheVPN" target="_blank">{{t .Localizer "common.info"}}</a> </span>
      </div>

      <div class="form-group">
         <label for="OVConfigLogfile">{{t .Localizer "server.logfile"}}</label>
         <input type="text" class="form-control" name="OVConfigLogfile" id="OVConfigLogfile" placeholder="/var/log/openvpn/openvpn.log"
          value="{{ .Settings.OVConfigLogfile }}">
        <span class="text-muted">{{t .Localizer "server.logfile_help"}}
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
        </span>
      </div>

      <div class="form-group">
         <label for="OVConfigLogVerbose">{{t .Localizer "server.log_verbose"}}</label>
         <input type="text" class="form-control" id="OVConfigLogVerbose" name="OVConfigLogVerbose" placeholder="3"
          value="{{ .Settings.OVConfigLogVerbose }}">
          <span class="text-muted">{{t .Localizer "server.log_verbose_help"}}
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
          </span>
      </div>

      <div class="form-group">
         <label for="OVConfigStatusLog">{{t .Localizer "server.status_log"}}</label>
         <input type="text" class="form-control" name="OVConfigStatusLog" id="OVConfigStatusLog" placeholder="/var/log/openvpn/openvpn-status.log"
          value="{{ .Settings.OVConfigStatusLog }}">
         <span class="text-muted">{{t .Localizer "server.status_log_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#StatusFile" target="_blank">{{t .Localizer "common.info"}}</a></span>
      </div>

      <div class="form-group">
         <label for="OVConfigStatusLogVersion">{{t .Localizer "server.status_version"}}</label>
         <input type="text" class="form-control" name="OVConfigStatusLogVersion" id="OVConfigStatusLogVersion" placeholder="2"
          value="{{ .Settings.OVConfigStatusLogVersion }}">
         <span class="text-muted">{{t .Localizer "server.status_version_help"}}
          <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">{{t .Localizer "common.info"}}</a>
         </span>
      </div>

      <div class="form-group" id="auth-mode">
        <label>{{t .Localizer "client.auth_mode"}}</label>
        <select name="FuncMode" id="FuncMode" class="form-control">
          <option value="0" {{if eq .Settings.FuncMode 0}}selected{{end}}>{{t .Localizer "client.auth_classic"}}</option>
          <option value="1" {{if eq .Settings.FuncMode 1}}selected{{end}}>{{t .Localizer "client.auth_2fa"}}</option>
        </select>
      </div>

      <div class="form-group" id="script-sec">
        <label for="ScriptSecurity">Script-security</label>
        <input type="text" selector="vformdata" class="form-control" name="ScriptSecurity" id="scriptsecurity" placeholder="2FA configuration"
        value="{{if eq .Settings.FuncMode 0}} {{else}}script-security 2{{ end }}">
      </div>

      <div class="form-group" id="auth-user-pass-verify">
        <label for="UserPassVerify">Auth-user-pass-verify</label>
        <input type="text" selector="vformdata" class="form-control" name="UserPassVerify" id="userpassverify" placeholder="2FA configuration"
        value="{{if eq .Settings.FuncMode 0}} {{else}}auth-user-pass-verify /opt/app/bin/oath.sh via-file{{ end }}">
      </div>

      <div class="form-group">
         <label for="CustomOptOne">{{t .Localizer "server.custom_option_one"}}</label>
         <input type="text" class="form-control" name="CustomOptOne" id="CustomOptOne" placeholder="#Custom Option One"
          value="{{ .Settings.CustomOptOne }}">
         <span class="text-muted">{{t .Localizer "server.custom_option_help"}}</span>
      </div>

      <div class="form-group">
         <label for="CustomOptTwo">{{t .Localizer "server.custom_option_two"}}</label>
         <textarea class="form-control" name="CustomOptTwo" id="CustomOptTwo" placeholder="#Custom Option Two"
         rows="2">{{ .Settings.CustomOptTwo }}</textarea>
         <span class="text-muted">{{t .Localizer "server.custom_option_help"}}</span>
      </div>

      <div class="form-group">
         <label for="CustomOptThree">{{t .Localizer "server.custom_option_three"}}</label>
         <textarea class="form-control" name="CustomOptThree" id="CustomOptThree" placeholder="#Custom Option Three"
         rows="3">{{ .Settings.CustomOptThree }}</textarea>
         <span class="text-muted">{{t .Localizer "server.custom_option_help"}}</span>
      </div>

     {{ .xsrfdata }}

      <button type="submit" style="width: 135px;" class="btn btn-primary" onclick="return confirm('{{t .Localizer "common.confirm_overwrite"}}');">{{t .Localizer "common.save_config"}}</button>
    </div>

      <!-- /.card-body -->
 </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/server.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t .Localizer "common.close"}}">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVConfigController.Edit"}}" method="post">
              <div class="card-body">

                <div class="form-group">
                    <div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">{{t .Localizer "common.please_note"}}</b>
                        </a>
                      </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span class="text-muted">{{t .Localizer "server.manual_config_warning"}}</span><br>
                        <span class="text-muted">{{t .Localizer "server.template_best_practice"}}</span><br>
                      </div>
                    </div>
                    <br><textarea type="text" class="form-control my-textarea" name="ServerConfig" id="ServerConfig" spellcheck="false" rows="15">{{ .ServerConfig }}</textarea>
                </div>

                {{ .xsrfdata }}
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal">{{t .Localizer "common.close"}}</button> &nbsp; &nbsp;
                <button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm('{{t .Localizer "server.confirm_manual_save"}}'); window.location.reload();">{{t .Localizer "common.save"}}</button>
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<!-- /.card -->
{{end}}

<script>
  const funcModeSelect = document.getElementById('FuncMode');
  const scriptSecurityDiv = document.getElementById('script-sec');
  const userPassVerifyDiv = document.getElementById('auth-user-pass-verify');
  const scriptSecurityInput = document.getElementById('scriptsecurity');
  const userPassVerifyInput = document.getElementById('userpassverify');

  function checkFuncMode() {
    if (funcModeSelect.value === '0') {
      scriptSecurityDiv.style.display = 'none';
      userPassVerifyDiv.style.display = 'none';
      scriptSecurityInput.value = ' ';
      userPassVerifyInput.value = ' ';
    } else {
      scriptSecurityDiv.style.display = 'block';
      userPassVerifyDiv.style.display = 'block';
      scriptSecurityInput.value = 'script-security 2';
      userPassVerifyInput.value = 'auth-user-pass-verify /opt/app/bin/oath.sh via-file';
    }
  }
  funcModeSelect.addEventListener('change', checkFuncMode);

window.addEventListener('load', () => {
  checkFuncMode();
  if (localStorage.getItem("theme") === "dark") {
    createEditor("ServerConfig", "550px", "clouds_midnight", "ovpn", false);
  } else {
    createEditor("ServerConfig", "550px", "clouds", "ovpn", false);
  }
});
</script>
