OPENVPN_ADMIN_USERNAME=admin
OPENVPN_ADMIN_PASSWORD=replace-with-a-strong-test-password

OPENVPN_UI_BIND_ADDRESS=192.168.5.240
OPENVPN_UI_PORT=8081

OPENVPN_BIND_ADDRESS=192.168.5.240
OPENVPN_UDP_PORT=1196

TRUST_SUB=10.250.70.0/24
GUEST_SUB=10.250.71.0/24
HOME_SUB=192.168.5.0/24

OPENVPN_SERVER_IMAGE=d3vilh/openvpn-server:0.5.5-amd64
OPENVPN_UI_IMAGE=zhisuan/openvpn-ui:baseline
